/ {
    chosen {
        zmk,keyboard = &kscan;
    };

    leds {
        compatible = "zmk,per-key-rgb";
        led-strip = <&led_strip>;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "COL2ROW";

        row-gpios = <&mcp23017_1 0 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 1 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 2 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 3 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 4 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 5 GPIO_ACTIVE_HIGH>;

        col-gpios = <&mcp23017_2 0 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 1 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 2 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 3 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 4 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 5 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 6 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 7 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 8 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 9 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 10 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 11 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 12 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 13 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 14 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_2 15 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 6 GPIO_ACTIVE_HIGH>,
                    <&mcp23017_1 7 GPIO_ACTIVE_HIGH>;
    };

    /* LED Strip WS2812 ต้องอยู่ใน root node */
    led_strip: ws2812 {
        compatible = "worldsemi,ws2812";
        gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
        chain-length = <108>;   /* 6x18 */
        status = "okay";
    };
};

&i2c1 {
    status = "okay";

    mcp23017_1: mcp23017@20 {
        compatible = "microchip,mcp23017";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    mcp23017_2: mcp23017@21 {
        compatible = "microchip,mcp23017";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
    };
};
